<!--
<h1 class="container text-danger text-center py-4">Página no encontrada</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam omnis accusamus, magnam rerum nihil similique obcaecati ipsa voluptatem nulla facere quibusdam, voluptatum optio vel quae temporibus expedita, veritatis fugiat dicta.</p>
-->
<div class="container py-5">
    <div class="row">
        <div class="span12">
            <div class="hero-unit center">
                <h1>Página no funciona <small>
              <font face="Tahoma" color="red">Error 404</font>
            </small></h1>
                <br />
                <p>No se pudo encontrar la página que solicitó, póngase en contacto con su webmaster o intente nuevamente. Use el botón <b>Atrás</b> de su navegador para regresar a la página de la que ha venido...</p>
                <p><b>O simplemente presione este botón para volver a la página principal:</b></p>
                <a [routerLink]="['/inicio']" class="btn btn-large btn-info"><i class="fas fa-home"></i> Ir a Inicio</a>
                <!--<a class="btn btn-large btn-info" [routerLink]="['/']">Ir a Inicio</a>-->
            </div>
            <br />
            <!-- By ConnerT HTML & CSS Enthusiast -->
        </div>
    </div>
</div>