<form>
    <div class="form-group animated fadeIn fast">
        <label for="nombreBano">No. de sobres:</label>
        <input type="number" min="0" aria-readonly="true" required class="form-control" id="nombreBano" aria-describedby="nombreBanoHelp" value="1">
        <small id="nombreBanoHelp" class="form-text text-muted">Ingresa el número de sobres.</small>
    </div>
    <a [routerLink]="['../../listarbano']" class="btn btn-outline-secondary mr-2">Cancelar</a>
    <button type="button" class="btn btn-outline-primary">Ocupar</button>
</form>