<div class="animated fadeIn fast">
    <div class="container-fluid">
        <div class="row border">
            <div class="col-md-2 border">
                <div class="list-group">
                    <h6 class="list-group-item list-group-item-action active">Acciones</h6>
                    <a [routerLink]="['listarbano']" class="list-group-item list-group-item-action">Listar baño</a>
                    <a [routerLink]="['crearbano']" class="list-group-item list-group-item-action">Agregar baño</a>
                    <a href="#" class="list-group-item list-group-item-action">Configurar</a>
                </div>
            </div>
            <div class="col-md-10 border">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>