<div class="animated fadeIn fast">
    <div class="alert alert-dismissible fade show" [ngClass]="tipoAlert" *ngIf="showMensajeExitoso" role="alert">
        <div id="mensaje" [innerHTML]="mensaje"></div>
        <button type="button" (click)="ocultarMensaje()" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div class="animated fadeIn fast">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 shadow-lg p-3 mb-5 bg-white rounded">
                <div class="list-group">
                    <h6 class="list-group-item list-group-item-action active">Acciones</h6>
                    <a [routerLink]="['listarbano']" class="list-group-item list-group-item-action">Listar baños</a>
                    <a [routerLink]="['crearbano']" class="list-group-item list-group-item-action">Agregar baño</a>
                    <!--<a href="#" class="list-group-item list-group-item-action">Configurar</a>-->
                </div>
            </div>
            <div class="col-md-10 shadow-lg p-3 mb-5 bg-white rounded">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<app-eliminar-bano></app-eliminar-bano>
<app-cobrar-cuenta></app-cobrar-cuenta>