<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <div class="form-group animated fadeIn fast">
        <label for="nombreBano">Nombre</label>
        <input type="text" formControlName="identificador" class="form-control" id="nombreBano" aria-describedby="nombreBanoHelp" required>
        <small id="nombreBanoHelp" class="form-text text-muted">El nombre del baño no debe repetirse.</small>
    </div>
    <button type="submit" class="btn btn-outline-primary">Crear</button>
</form>