<form [formGroup]="formulario" id="formulario" (ngSubmit)="submit()">
    <div class="form-group animated fadeIn fast">
        <label for="identificador">Nombre</label>
        <input type="text" formControlName="identificador" class="form-control" id="identificador" aria-describedby="identificadorHelp" required>
        <small id="identificadorHelp" class="form-text text-muted">El nombre del baño no debe repetirse.</small>

        <div *ngIf="formulario.controls.identificador.errors && formulario.controls.identificador.touched" class="error">
            *Campo requerido
        </div>
    </div>
    <button type="submit" class="btn btn-outline-primary">Crear</button>
</form>