<!-- Modal -->
<div class="modal fade" #ocultarModalCobrar id="cobrarCuentaModal" tabindex="-1" role="dialog" aria-labelledby="cobrarCuentaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Resumen cuenta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Tarifas:</label><br>
                        <label for="recipient-name" class="col-form-label">Tiempo máximo:</label> {{ cobrar.minutosPermitidos }} min -
                        <label for="recipient-name" class="col-form-label">Valor:</label> ${{ cobrar.tarifaMinutosPermitidos }}<br>
                        <label for="recipient-name" class="col-form-label">Valor minuto adicional: ${{ cobrar.tarifaMinutoAdicional }}</label><br>
                        <label for="recipient-name" class="col-form-label">Valor sobre adicional: ${{ cobrar.tarifaSobreAdicional }}</label>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Resumen cobro:</label><br>
                        <label for="recipient-name" class="col-form-label">Fecha de ingreso:</label> {{ cobrar.cuenta.fechaIngreso }}<br>
                        <label for="message-text" class="col-form-label">Minutos ocupados:</label> {{ cobrar.minutosTranscurridos }} min<br>
                        <label for="message-text" class="col-form-label">Minutos adicionales:</label> {{ cobrar.minutosAdicionales }} min -
                        <label for="message-text" class="col-form-label">Valor:</label> ${{ cobrar.subtotalMinutosAdicionales }}<br>
                        <label for="message-text" class="col-form-label">Sobres adicionales:</label> {{ cobrar.sobresAdicionales }} -
                        <label for="message-text" class="col-form-label">Valor:</label> ${{ cobrar.subtotalSobresAdicionales }}<br>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Total a pagar:</label> ${{ cobrar.cuenta.totalCobro }}<br>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="btn-group mr-auto" role="group" aria-label="First group">
                    <button type="button" class="btn btn-outline-secondary mr-2" (click)="refrescarCuenta(cobrar.cuenta.id)">
                        <fa-icon [icon]="iconRefrescar"></fa-icon>
                    </button>
                </div>
                <div class="btn-group" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-outline-secondary mr-2" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-outline-primary" (click)="pagar(cobrar.cuenta.id)">Pagar</button>
                </div>
            </div>
        </div>
    </div>
</div>