<form *ngIf="banoObs | async; else loading" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group animated fadeIn fast">
        <label for="identificador">Nombre</label>
        <input type="text" class="form-control" id="identificador" formControlName="identificador" aria-describedby="identificadorHelp">
        <small id="identificadorHelp" class="form-text text-muted">El nombre del baño no debe repetirse.</small>
        <div *ngIf="form.controls.identificador.errors && form.controls.identificador.touched" class="error">
            *Campo requerido
        </div>

        <div class="custom-control custom-switch" *ngIf="mostrarCheck">
            <input type="checkbox" class="custom-control-input" id="estado" formControlName="estado" [checked]="checkDiponible">
            <label class="custom-control-label" for="estado">Disponible</label>
        </div>
    </div>
    <a [routerLink]="['../../listarbano']" class="btn btn-outline-secondary mr-2">Atrás</a>
    <button type="submit" class="btn btn-outline-primary">Actualizar</button>
</form>

<ng-template #loading>
    Cargando información...
</ng-template>