<div class="row animated fadeIn fast">
    <div class="col-sm-3 mb-1" *ngFor="let bano of listaBanos">
        <div class="card">
            <div class="row">
                <div class="col-6 text-left">
                    <div class="previous">
                        <button type="button" class="btn btn-default btn-lg" [disabled]="!bano.habilitar" (click)="redireccionarConfigBano(bano.id)">
                            <fa-icon [icon]="faCog"></fa-icon>
                        </button>
                    </div>
                </div>
                <div class="col-6 text-right">
                    <div class="next">
                        <button type="button" class="btn btn-default btn-lg" [disabled]="!bano.habilitar" data-toggle="modal" data-target="#eliminarBanoModal">
                            <fa-icon [icon]="faTimes"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <h5 class="card-title">{{ bano.identificador }}</h5>
                <p class="card-text" [ngClass]="bano.clase">{{ bano.estado }}</p>
                <!--<a [routerLink]="['../crearcuenta',bano.id]" class="btn btn-info btn-block">Modificar</a>-->
                <button type="button" class="btn btn-outline-info btn-block" [disabled]="!bano.habilitar" (click)="redireccionar(bano.estado, bano.id)">Modificar</button>
            </div>
        </div>
    </div>
</div>