<div class="row">
    <div class="col-sm-3 mb-1" *ngFor="let bano of listaBanos">
        <div class="card">
            <div class="container">
                <button type="button" class="close" aria-label="Close" data-toggle="modal" data-target="#eliminarBanoModal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ bano.identificador }}</h5>
                <p class="card-text" [ngClass]="bano.clase">{{ bano.estado }}</p>
                <a [routerLink]="['crearcuenta',bano.id]" class="btn btn-info btn-block">Modificar</a>
            </div>
        </div>
    </div>
</div>