<form>
    <div class="form-group animated fadeIn fast">
        <label for="nombreBano">No. de sobres:</label>
        <input type="number" min="0" aria-readonly="true" required class="form-control" id="nombreBano" aria-describedby="nombreBanoHelp" value="1">
        <small id="nombreBanoHelp" class="form-text text-muted">El nombre del baño no debe repetirse.</small>
    </div>
    <a [routerLink]="['../../listarbano']" class="btn btn-outline-secondary mr-2">Atrás</a>
    <button type="button" class="btn btn-outline-primary mr-2">Actualizar</button>
    <button type="button" class="btn btn-outline-primary">cobrar</button>
</form>